* {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #f1f5f9;
    color: #1e293b;
    font-family: Arial, Helvetica, sans-serif;
}

.layout-pagina {
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer"
    ;

    grid-template-columns: 220px 1fr;
    grid-template-rows: auto 1fr auto;

    min-height: 100vh;
}